:root,:host {
--chakra-vh: 100vh;
}
@supports (height: -webkit-fill-available) {
:root,
:host {
    --chakra-vh: -webkit-fill-available;
}
}
@supports (height: -moz-fill-available) {
:root,
:host {
    --chakra-vh: -moz-fill-available;
}
}
@supports (height: 100dvh) {
:root,
:host {
    --chakra-vh: 100dvh;
}
}

:host,:root{
--color-0: #fdeded;
--color-1: #f9c4c4;
--color-2: #f99d9d;
--color-3: #f77676;
--color-4: #ea0b0b;
--color-5: #d80000;
--color-6: #c40000;
--color-7: #a00909;
--color-8: #830808;
--color-9: #660606;
--color-bt:#f99d9d;
--color-wr:#f99d9d;
--color-inv: #3182ce;
--color-a: #3182ce;
--color-text: #FFFFFF;
--colors-transparent: transparent;
--colors-current: currentColor;
--colors-black: #000000;
--colors-white: #FFFFFF;
--colors-whiteAlpha-0: rgba(255, 255, 255, 0.04);
--colors-whiteAlpha-1: rgba(255, 255, 255, 0.06);
--colors-whiteAlpha-2: rgba(255, 255, 255, 0.08);
--colors-whiteAlpha-3: rgba(255, 255, 255, 0.16);
--colors-whiteAlpha-4: rgba(255, 255, 255, 0.24);
--colors-whiteAlpha-5: rgba(255, 255, 255, 0.36);
--colors-whiteAlpha-6: rgba(255, 255, 255, 0.48);
--colors-whiteAlpha-7: rgba(255, 255, 255, 0.64);
--colors-whiteAlpha-8: rgba(255, 255, 255, 0.80);
--colors-whiteAlpha-9: rgba(255, 255, 255, 0.92);
--colors-blackAlpha-0: rgba(0, 0, 0, 0.04);
--colors-blackAlpha-1: rgba(0, 0, 0, 0.06);
--colors-blackAlpha-2: rgba(0, 0, 0, 0.08);
--colors-blackAlpha-3: rgba(0, 0, 0, 0.16);
--colors-blackAlpha-4: rgba(0, 0, 0, 0.24);
--colors-blackAlpha-5: rgba(0, 0, 0, 0.36);
--colors-blackAlpha-6: rgba(0, 0, 0, 0.48);
--colors-blackAlpha-7: rgba(0, 0, 0, 0.64);
--colors-blackAlpha-8: rgba(0, 0, 0, 0.80);
--colors-blackAlpha-9: rgba(0, 0, 0, 0.92);
}
body[theme="th0"],.th0{
--color-0: #dbd9ff;
--color-1: #918bff;
--color-2: #7973ec;
--color-3: #746fdb;
--color-4: #7e7bb9;
--color-5: #4a41f8;
--color-6: #2e25d8;
--color-7: #171179;
--color-8: #29266b;
--color-9: #151241;
--color-inv: #805AD5;
--color-wr:#f99d9d;
--color-a: #D53F8C;
--color-text: #000000;
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
body[theme="th1"],.th1{
--color-0: #fdeded;
--color-1: #f9c4c4;
--color-2: #f99d9d;
--color-3: #f77676;
--color-4: #ea0b0b;
--color-5: #d80000;
--color-6: #c40000;
--color-7: #a00909;
--color-8: #830808;
--color-9: #660606;
--color-wr:#f99d9d;
--color-bt:#f99d9d;
--color-inv: #010511;
--color-a: #ea0b0b;
--color-text: #FFFFFF;
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 

}
body[theme="th2"],.th2{
--color-0: #FFFFF0;
--color-1: #FEFCBF;
--color-2: #FAF089;
--color-3: #F6E05E;
--color-4: #ECC94B;
--color-5: #D69E2E;
--color-6: #B7791F;
--color-7: #975A16;
--color-8: #744210;
--color-9: #5F370E;
--color-wr:#3cdd78;
--color-bt:#f77676;
--color-inv: #22c35e;
--color-a: #D53F8C;
--color-text: #FFFFFF;
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 

}
body[theme="th3"],.th3{
--color-0: #dffeec;
--color-1: #b9f5d0;
--color-2: #90edb3;
--color-3: #65e495;
--color-4: #3cdd78;
--color-5: #22c35e;
--color-6: #179848;
--color-7: #0c6c33;
--color-8: #01421c;
--color-9: #001803;
--color-wr:#f99d9d;
--color-bt:#744210;
--color-inv: #D69E2E;
--color-a: #D53F8C;
--color-text: #FFFFFF;
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 

}
body[theme="th4"],.th4{
--color-0: #ebf8ff;
--color-1: #bee3f8;
--color-2: #90cdf4;
--color-3: #63b3ed;
--color-4: #4299e1;
--color-5: #3182ce;
--color-6: #2b6cb0;
--color-7: #2c5282;
--color-8: #2a4365;
--color-9: #1A365D;
--color-wr:#3cdd78;
--color-bt:#B794F4;
--color-inv: #0c6c33;
--color-a: #D53F8C;
--color-text: #FFFFFF;
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 

}
body[theme="th5"],.th5{
--color-0: #FAF5FF;
--color-1: #E9D8FD;
--color-2: #D6BCFA;
--color-3: #B794F4;
--color-4: #9F7AEA;
--color-5: #805AD5;
--color-6: #6B46C1;
--color-7: #553C9A;
--color-8: #44337A;
--color-9: #322659;
--color-wr:#f99d9d;
--color-bt:#B794F4;
--color-inv: #D53F8C;
--color-a: #D53F8C;
--color-text: #FFFFFF;
background: var(--color-5);
background: -webkit-linear-gradient(270deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(270deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(270deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(270deg, var(--color-3), 25%, var(--color-7), 55%, var(--color-9), 85% ,#000); 

}
.color-bg-0{background:var(--color-0);background-image: -webkit-linear-gradient(225deg, var(--color-0) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-0) 50%, #000000 85%);}
.color-bg-1{background:var(--color-1);background-image: -webkit-linear-gradient(225deg, var(--color-1) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-1) 50%, #000000 85%);}
.color-bg-2{background:var(--color-2);background-image: -webkit-linear-gradient(225deg, var(--color-2) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-2) 50%, #000000 85%);}
.color-bg-3{background:var(--color-3);background-image: -webkit-linear-gradient(225deg, var(--color-3) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-3) 50%, #000000 85%);}
.color-bg-4{background:var(--color-4);background-image: -webkit-linear-gradient(225deg, var(--color-4) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-4) 50%, #000000 85%);}
.color-bg-5{background:var(--color-5);background-image: -webkit-linear-gradient(225deg, var(--color-5) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-5) 50%, #000000 85%);}
.color-bg-6{background:var(--color-6);background-image: -webkit-linear-gradient(225deg, var(--color-6) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-6) 50%, #000000 85%);}
.color-bg-7{background:var(--color-7);background-image: -webkit-linear-gradient(225deg, var(--color-7) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-7) 50%, #000000 85%);}
.color-bg-8{background:var(--color-8);background-image: -webkit-linear-gradient(225deg, var(--color-8) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-8) 50%, #000000 85%);}
.color-bg-9{background:var(--color-9);background-image: -webkit-linear-gradient(225deg, var(--color-9) 50%, #000000 85%);background-image: linear-gradient(225deg, var(--color-9) 50%, #000000 85%);}
.color-inv{color:var(--color-inv);}
.color-text{color:var(--color-text);}
.color-bg-inv{
background:var(--color-inv);
background: -webkit-linear-gradient(45deg, var(--color-3), 32%, var(--color-inv), 60%, var(--color-3),80%, var(--color-inv), 95% ,#000);
background: -moz-linear-gradient(45deg, var(--color-3), 32%, var(--color-inv), 60%, var(--color-3),80%, var(--color-inv) 95% ,#000);
background: -o-linear-gradient(45deg, var(--color-3), 32%, var(--color-inv), 60%, var(--color-3),80%, var(--color-inv) 95% ,#000);
background: linear-gradient(45deg, var(--color-3), 32%, var(--color-inv), 60%, var(--color-3),80%, var(--color-inv) 95% ,#000); 
}
.color-bg-0deg{
background: var(--color-5);
background: -webkit-linear-gradient(0deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(0deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(0deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(0deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-45deg{
background: var(--color-5);
background: -webkit-linear-gradient(45deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(45deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(45deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(45deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-90deg{
background: var(--color-5);
background: -webkit-linear-gradient(90deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(90deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(90deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(90deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-135deg{
background: var(--color-5);
background: -webkit-linear-gradient(135deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(135deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(135deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(135deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-180deg{
background: var(--color-5);
background: -webkit-linear-gradient(180deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(180deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(180deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(180deg, var(--color-2), 10%, var(--color-5), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-225deg{
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-270deg{
background: var(--color-5);
background: -webkit-linear-gradient(270deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(270deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(270deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(270deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.color-bg-315deg{
background: var(--color-5);
background: -webkit-linear-gradient(315deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(315deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(315deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(315deg, var(--color-4), 10%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
}
.bot-contact,.bot{
background: var(--color-5);
background: -webkit-linear-gradient(225deg, var(--color-3), 20%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -moz-linear-gradient(225deg, var(--color-3), 20%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: -o-linear-gradient(225deg, var(--color-3), 20%, var(--color-7), 55%, var(--color-9), 85% ,#000);
background: linear-gradient(225deg, var(--color-3), 20%, var(--color-7), 55%, var(--color-9), 85% ,#000); 
box-shadow: 0px 0px 1.5px var(--color-a);
border-color: var(--color-a);
}
.app-slider .slider-cont {background: var(--color-wr);  background-image: linear-gradient(247deg,var(--color-wr) 4.56%,var(--color-bt) 48.29%,var(--color-wr) 86.32%); border-color: var(--color-bt);}
.app-slider .slider-cont .slider{border-color: var(--color-wr);}
.network-name{
    color: var(--color-inv);
}
.network-prefix{
    color: var(--color-inv);

}
.screen {
    background: linear-gradient(290deg,var(--color-inv), #212233);
}
span.shape{
    box-shadow: 0px 0px 1.5px rgb(240, 197, 204);
}
.title{
    background: linear-gradient(290deg, var(--color-8), #000000);
    color: var(--color-text);
}
    
/* .login-sub{
box-shadow: 0px 0px 1.5px var(--color-a);
border-color: var(--color-a);
}
span.shape{
box-shadow: 0px 0px 1.5px rgb(240, 197, 204);
}
span.shape1 {
box-shadow: 0px 0px 1.5px rgb(240, 197, 204);
background: #fff;
}
*::-webkit-input-placeholder {color: var(--colors-black);}
*::-moz-placeholder {color: var(--colors-black);}
*:-ms-input-placeholder {color: var(--colors-black);}   
*,*::before,::after {border-color: var(--colors-black);}
.password-field,.login-speed-select,.input-form{background: var(--colors-white);border: none;color: var(--colors-black);}

.contants .contant span {background: linear-gradient(290deg,var(--color-wr), #000000);  border-color:  rgb(135 75 85);}
.bot,.bot-contact{color: #ffffff;  background: linear-gradient(320deg, var(--color-bt), #000000);  border: 1px solid rgb(135 75 85);  box-shadow: 0 2px 2px rgb(135 75 85);}
.bot.boxb{background-color:#0779a7;  border-color:#22ffff;}

.app-slider { -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; justify-items: center; width: 100%; margin-top: 55px; margin-bottom: 15px; } .slider-cont { position: relative; display: block; border-radius: 15px; padding-left: 5px; padding-right: 5px; background: #5218bd; background-image: linear-gradient(247deg, #5218bd 4.56%, #490418 48.29%, #5218bd 86.32%); align-self: center; width: 340px; border: 5px solid #5218bd; border-radius: 10px } .slides figure>* { z-index: 7; } .slides figure figcaption { z-index: 8; } .slider-cont .prevnav, .slider-cont .nextnav { position: absolute; top: 43%; ; background: #000000a9; z-index: 9; } .slider-cont .prevnav { left: -5px } .slider-cont .nextnav { right: -5px } .dot-cont span { height: 13px; width: 20px; margin: 2px 2px; border-radius: 50%; background-color: #bbb; color: #bbb; font-size: 14px; letter-spacing: 10px } .dot-cont { position: absolute; bottom: -25px; text-align: center; display: block; left: 42% } .slider { width: 100%; max-width: 800px; overflow: hidden; border: 2px solid #ddd; border-radius: 10px; position: relative; } .slides { display: flex; transition: transform 0.5s ease-in-out; } figure { border: thin #c0c0c0 solid; margin: 0; min-width: 100%; position: relative; text-align: center; } figure img,figure video { width: 100%; display: block;max-height:230px } figcaption { background-color: #222; font: italic smaller sans-serif; padding: 3px; text-align: center; background: rgba(0, 0, 0, 0.6); color: #fff; padding: 10px; font-size: 1rem; position: absolute; bottom: 0; width: 100%; text-align: center; } a, img, figcaption { user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.sec { width: 100%; position: relative; overflow: hidden; overflow-x: hidden; justify-self: end; padding: 3px; } .sec .newsline:hover { -webkit-animation-play-state: paused; animation-play-state: paused } .newsline p { width: 120%; margin-left: 10px; margin-right: 10px; color: black; background: linear-gradient(290deg, var(--color-nw), #583737); border-radius: 10px; } .rfm-cont { overflow-x: hidden; display: flex; flex-direction: row; position: relative; width: var(--width); transform: var(--transform); } .rfm-cont:hover div { animation-play-state: var(--pause-on-hover); } .rfm-cont:active div { animation-play-state: var(--pause-on-click); } .rfm-marquee { flex: 0 0 auto; min-width: var(--min-width); z-index: 1; display: flex; flex-direction: row; align-items: center; animation: scroll var(--duration) linear var(--delay) var(--iteration-count); animation-play-state: var(--play); animation-delay: var(--delay); animation-direction: var(--direction); } .rfm-cont-ch { flex: 0 0 auto; display: flex; min-width: auto; flex-direction: row; align-items: center; } .rfm-child { transform: var(--transform); } @-moz-keyframes scroll { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); } } @keyframes scroll { 0% { transform: translateX(0%); } 100% { transform: translateX(-100%); } }
.app-name { display: grid; grid-template-rows: 120px 33px auto; min-height: 200px; height: 200px; z-index: 5; margin: 0px; padding: 0px; }.prof { color: #000; text-align: right; font-size: 60px; font-weight: 700; height: 73px; } .net { padding: 5px 0 0 120px; white-space: nowrap; font-size: 30px } .date { font-size: 11px; padding-right: 11px; padding-top: 5px; padding-bottom: 5px; text-align: end; align-items: end; }

.screen {
background: linear-gradient(290deg,var(--color-a), #212233);
}

.login-sub {
color: #fff;
box-shadow: 0 2px 2px rgb(135 75 85);
background: linear-gradient(120deg, #000000, var(--color-bt));
}
div.wrapper{
background: linear-gradient(290deg, #00152b, var(--color-4));
}
.title{
background: linear-gradient(290deg, var(--color-8), #000000);
}
.nav-bar{
background: linear-gradient(90deg, var(--color-8), var(--color-inv));
box-shadow: 0 2px 2px rgb(135 75 85);
border-color: var(--color-a);
} */